<div class="row">
  <div class="col-md-4 mt-3">
    <h3>EmployeeRegisterForm</h3>
    <div class="formDiv">
      <div class="row">
        <div class="col-md-4">
          <label for="Name">Name</label>
        </div>
        <div class="col-md-4">
          <input type="text" name="" class="form-control" />
        </div>
        <div class="col-md-4">
          <input type="text" name="" class="form-control" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">Technology:</label>
        </div>
        <div class="col-md-8 mt-2">
          <input type="text" name="" class="form-control" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">Skills:</label>
        </div>
        <div class="col-md-8 mt-2">
          <select name="" class="form-control">
            <option value="">Angular</option>
            <option value="">Javascript</option>
            <option value="">Vue</option>
            <option value="">React</option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">skills:</label>
        </div>
        <div class="col-md-4 mt-2">
          <input type="text" name="" class="form-control" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">Expertise in</label>
        </div>
        <div class="col-md-8 mt-2">
          <input type="text" name="" class="form-control" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">Any Certification </label>
          <input type="radio" name="" />Yes <input type="radio" name="" />No
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <input type="text" name="" class="form-control" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <label for="Name">Company: </label>
        </div>
        <div class="col-md-8 mt-2">
          <input type="text" name="" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="">BriefAbout Yourself:</label>
          <textarea name="" class="form-control" cols="5" rows="5"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 text-end">
          <button class="btn btn-warning me-2">Cancel</button>
          <button class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-3">
    <h3>EmployeeList</h3>
    <div class="row formDiv">
   
        <div class="col-md-6 ">
            
            

        </div>
        <div class="col-md-3">
            <select name="" id="" class="form-control">
                <option value="">Angular</option>
                <option value="">React</option>
                <option value="">Javascript</option>

            </select>
        </div>
        <div class="col-md-3">
            <input type="text" name=""  class="form-control">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SNO</td>
                        <td>Name</td>
                        <td>Technology</td>
                        <td>Designation</td>
                        <td>skill</td>
                        <td>coreExperience</td>
                        <td>Company</td>
                        <td>Action</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
